.cover__subtitle {
    max-width: 360px;
    max-height: fit-content;
    width: 100%;
    align-self: center;
    justify-self: center;
    font-style: normal;
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 1.22;
    text-align: center;
    margin-top: 32px;
}
