.footer__link {
    color: white;
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.12;
    margin: 0 18px 0 0;
    justify-self: flex-end;
}


@media all and (max-width: 660px) {
    .footer__link {
        margin-right: 0;
        font-size: 1.5rem;
    }
}

