.place__paragraph {
    font-style: normal;
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 163%;
    margin: 0 auto 26px auto;
}

@media all and (max-width: 768px) {
    .place__paragraph {
        font-size: 1rem;
    }
}

@media all and (max-width: 425px) {
    .place__paragraph {
        margin-bottom: 25px;
    }    
}