.footer__copyright {
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.14;
}

@media all and (max-width: 660px) {
    .footer__copyright {
        max-width: 186px;
        margin: 0 0 16px 16px;
    }
}

@media all and (max-width: 425px) {
    .footer__copyright {
        max-width: 100%;
    }
}

