.lead__caption {
    align-self: flex-start;
    margin: 8 0 0 0;
    font-style: normal;
    font-weight: 400;
    font-size: 0.625rem;
    width: 158px;
    height: 14px;
    text-transform: uppercase;
}