.lead__caption {
    padding-left: 5px;
    align-self: flex-start;
    margin: 8px 0 0 0;
    font-style: normal;
    font-weight: 400;
    font-size: 0.625rem;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}

@media all and (max-width: 1024px) and (min-width: 769px) {
    .lead__caption {
        margin-left: 48px;
    }
}

@media all and (max-width: 768px) and (min-width: 321px) {
    .lead__caption {
        margin-left: 24px;
    }
}

@media all and (max-width: 320px) {
    .lead__caption {
        margin-left: 16px;
    }
}