.cover__title {
    position: relative;
    max-width: 560px;
    width: 100%;
    font-style: normal;
    font-weight: 900;
    font-size: 4.5rem;
    line-height: 1.06;
    text-align: center;
    margin: 0;
    z-index: 3;
}

/*нормальное позиционирование ломалось из-за margin-auto, которое разбивало */

/*@media all and (max-width: 900px) {
    .cover__title {
        margin-top: 17%;    
    }
}

@media all and (max-width: 768px) {
    .cover__title {
        margin-top: 115px;    
    }
}*/

@media all and (max-width: 540px) {
    .cover__title {
        /*margin-top: 150px;*/
        line-height: 1.08;
        font-size: 3.5rem;    
    }
}

@media all and (max-width: 425px) {
    .cover__title {
        max-width: 288px;
        /*margin-top: 33px;*/
        line-height: 1.09;
        font-size: 2rem;
    }
}
