.footer {
    max-width: 1184px;
    display: flex;
    justify-items: center;
    justify-content: space-between;
    margin: 0 auto 0 auto;
}

@media all and (max-width: 1024px) {
    .footer {
        max-width: 928px;
    }
}

@media all and (max-width: 768px) {
    .footer {
        margin: 0 24px 0 24px;
    }
}

@media all and (max-width: 425px) {
    .footer {
        margin: 0 16px 0 auto;
        flex-direction: column;
    }
}